BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks: Regroup
IncludeCategories:
  # Main header (e.g. foo.hpp for foo.cpp)
  - Regex: '".*"'
    Priority: 1
  # System headers
  - Regex: '<sys/.*>'
    Priority: 2
  # C++ standard library
  - Regex: '<.*>'
    Priority: 3
  # Project headers
  - Regex: '.*'
    Priority: 4
